@{
    ViewBag.Title = "联系我们";
    Layout= "~/Views/Shared/_LayoutPre.cshtml";
}
<br /><br /><br />
<h2>联系我们</h2>
<h3></h3>

<address>
    河南大学<br />
    计算机与信息工程学院<br />
    <abbr title="Phone">P:</abbr>
    12345678901
</address>

<address>
    <strong>Support:</strong>   <a href="jiaojiy@qq.com">jiaojiy@qq.com</a><br />
    <strong>Marketing:</strong> <a href="jiaojiy@qq.com">jiaojiy@qq.com</a>
</address>

<div>
    <strong>Leader:</strong>   <a href="jiaojiy@qq.com">焦金莹</a><br />
    <strong>Memder:</strong> <a href="jiaojiy@qq.com">刘冀峰、付卓辉、崔如楠、王艳红、郭佳鑫</a>
</div>